.find-match-page {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.find-match-page form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.find-match-page form input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form-container label {
  color: var(--btnAndLinks);
}
.form-container button {
  width: 100%;
}
.form-container input[type='checkbox'] {
  accent-color: var(--btnAndLinks);
}
.match-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.matches-container {
  display: flex;
  flex-direction: column;
}

.card {
  border: 2px solid var(--border);
  background: var(--btnAndLinks);
  border-radius: 10px;
  padding: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card h3 {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card:hover {
  transform: scale(1.05);
  border: 2px solid var(--bg-light);
}
.card p {
  margin: 0;
  text-align: left;
}

.match-card button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid var(--hover);
}
.match-card button:hover {
  border: 1px solid var(--bg-light);
  background: var(--bg-section);
}
