.found-match {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.match-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.message-btn {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: var(--hover);
  color: var(--bg-light);
  transition:
    color 0.3s ease,
    font-size 0.3s ease;
}
.message-btn:hover {
  transform: scale(1.05);
  border: 2px solid var(--border);
}
.delete-btn {
  color: darkred;
  font-size: 0.8rem;
  transition:
    color 0.3s ease,
    font-size 0.3s ease;
}
.delete-btn:hover {
  color: red;
  background: none;
  font-size: 1rem;
}
